body,
html {
   margin: 0;
   padding: 0;
   /* background-color: rgb(224, 163, 84); */
}

#maindiv {
   padding: 5%;
   width: 100%;
   height: 100vh;
   /* overflow: hidden; 
   position: relative; */
   /* background-image: url(img/Pic4.jpg); */
   background-color: #263351;
   color: white;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#maindivcol1 {
   padding: 20vh;
   text-align: left;
   display: flexbox;
   justify-content: center;
}

#maindivcol2 {
   padding: 20vh;
   background-image: url(img/among.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   width: 100%;
   height: 70%;
}

#maindiv2 {
   width: 100%;
   height: 100Vh;
   overflow: hidden;
   /* position: relative; */
   background-image: url(img/Pic3.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   /* text-align: center;
    justify-content: center; */
   /* padding: 10%; */
   color:white;
}

.cir {
   width: 40vh;
   height: 40vh;
   border-radius: 50%;
}

#cir1 {
   background-color: #EB8B3C;
   position: relative;
   top: -250px;
   left: 100px;
}
#cir2 {
   background-color: #757575;
   position: relative;
   top: -490px;
   left: 50px;
}
#cir {
   width: 40vh;
   height: 40vh;
   background-color: #C43735;
   position: relative;
   border-radius: 50%;
   top: 25px;
   left: 15px;
   text-align: center;
}
/* #cir:hover {left: 15px; transition:1s} */
#cir:hover #cir1 {left:60px; transition:.5s}
#cir:hover #cir2 {left:30px; transition:.5s}
#cir:hover {left:20px; transition:.5s}

a{
   color: white;
   text-decoration:double ;
}







#maindiv3 {
   font-weight: 600;
   text-align: center;
   margin: 40px;
}



/* @keyframes change{
    0%
    {
        background-image: url(img/Pic11.jpg);
    }
    20%
    {
        background-image: url(img/among.png);
    }
    40%
    {
        background-image: url(img/Pic11.jpg);
    }
    60%
    {
        background-image: url(img/Pic11.jpg);

        
    }
    80%
    {
        background-image: url(img/Pic11.jpg);

    }
    100%
    {
        background-image: url(img/Pic11.jpg);

    }
} */